h2 {
    overflow: hidden;
    font-size: 1.5rem;
    text-align: justify;
    text-transform: none;
}

.eknm-button-small {
    width: 10rem;
}

.dot {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.article-info-container {
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.article-info-container:hover {
    background-color: #33312d;
}

.article-info-container:active {
    background-color: #262522;
}

.article-arrow {
    height: 3rem;
    width: 3rem;
    fill: #ecf2f4;
}


.left-part {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.rigth-part {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}


@media only screen and (min-width: 700px) {
    .left-part {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .rigth-part {
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 700px) {
    .left-part {
        margin-left: 0rem;
        margin-right: 0rem;
    }
    
    .rigth-part {
        margin-right: 0rem;
    }
}