<div class="container-md">
  <div class="pt-3"></div>
  <section-title [titleText]="'ПУБЛИЧНЫЕ РЕСУРСЫ'"></section-title>
  <img src="../../assets/ic_discord.png" class="img-fluid pb-2 img-icon">
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><p style="text-align:center">Discord server</p></a>
  <div class="pt-3"></div>
  <section-title [titleText]="'О НАС'"></section-title>
  <p><b>- Что такое екнм?</b></p>
  <p>Организация, компания, секта, бренд, корпорация, синдикат, колыбельная, просто набор букв. Выберите то, что вам больше нравится.</p>
  <div class="pb-2"></div>
  <p><b>- В чем цель екнм?</b></p>
  <p>Создание и поддержка инициатив, проектов и разработок в сфере науки, творчества и бизнеса. Возможно что-то ещё.</p>
  <div class="pb-2"></div>
  <p><b>- А зачем?</b></p>
  <p>Время одиночной работы прошло и такой подход безнадёжно устарел. Совместная работа более эффективна и позволяет задействовать больше знаний, ресурсов и разносторонних взглядов. Мы живём в эру заводов.</p>
  <div class="pb-2"></div>
  <p><b>- Как помочь или присоединиться?</b></p>
  <p>Обратиться по контактам на этой странице и описать что вы можете предложить или чем мы вам можем помочь. В идеале вы должны лично знать кого-то из нас, но это не обязательно.</p>
  <div class="pb-2"></div>
  <p><b>- В чем екнм заинтересован на данный момент?</b></p>
  <p>Разработки, статьи и проекты любого типа, которые содержат в себе что-то инновационное и/или творческую ценность. Более четкие рамки не имеют смысла.</p>
  <div class="pb-2"></div>
  <section-title [titleText]="'ОБРАТНАЯ СВЯЗЬ'"></section-title>
  <p>admin@eknm.xyz</p>
  <div class="pb-5"></div>
</div>


