<div class="container-standard">
    <div class="row justify-content-md-center mb-3">
        <button type="button" class="header-button">INFO</button>
    </div>
    <section-title
        [titleText]="'info.public_resources' | translate"
    ></section-title>
    <img
        src="../../assets/icons/ic_discord.png"
        class="img-fluid img-icon"
    />
    <a
        class="eknm-button-small"
        role="button"
        href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
    >
        Discord server
    </a>
    <div class="pt-3"></div>
    <section-title [titleText]="'info.about' | translate"></section-title>
    <h3>{{ "info.question1" | translate }}</h3>
    <p>{{ "info.answer1" | translate }}</p>
    <div class="pb-2"></div>
    <h3>{{ "info.question2" | translate }}</h3>
    <p>{{ "info.answer2" | translate }}</p>
    <div class="pb-2"></div>
    <h3>{{ "info.question3" | translate }}</h3>
    <p>{{ "info.answer3" | translate }}</p>
    <div class="pb-2"></div>
    <h3>{{ "info.question4" | translate }}</h3>
    <p>{{ "info.answer4" | translate }}</p>
    <div class="pb-2"></div>
    <h3>{{ "info.question5" | translate }}</h3>
    <p>{{ "info.answer5" | translate }}</p>
    <div class="pb-2"></div>
    <section-title [titleText]="'info.feedback' | translate"></section-title>
    <p>admin@eknm.xyz</p>
    <div class="pb-5"></div>
</div>
