<div class="container-standard">
    <div class="row justify-content-md-center mb-3">
        <button type="button" class="header-button">INFO</button>
    </div>
    <section-title
        [titleText]="'info.public_resources' | translate"
    ></section-title>
    <img
        src="../../assets/icons/ic_discord.png"
        class="img-fluid pb-2 img-icon"
    />
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"
        ><p style="text-align: center">Discord server</p></a
    >
    <div class="pt-3"></div>
    <section-title [titleText]="'info.about' | translate"></section-title>
    <p>
        <b>{{ "info.question1" | translate }}</b>
    </p>
    <p>{{ "info.answer1" | translate }}</p>
    <div class="pb-2"></div>
    <p>
        <b>{{ "info.question2" | translate }}</b>
    </p>
    <p>{{ "info.answer2" | translate }}</p>
    <div class="pb-2"></div>
    <p>
        <b>{{ "info.question3" | translate }}</b>
    </p>
    <p>{{ "info.answer3" | translate }}</p>
    <div class="pb-2"></div>
    <p>
        <b>{{ "info.question4" | translate }}</b>
    </p>
    <p>{{ "info.answer4" | translate }}</p>
    <div class="pb-2"></div>
    <p>
        <b>{{ "info.question5" | translate }}</b>
    </p>
    <p>{{ "info.answer5" | translate }}</p>
    <div class="pb-2"></div>
    <section-title [titleText]="'info.feedback' | translate"></section-title>
    <p>admin@eknm.xyz</p>
    <div class="pb-5"></div>
</div>
