.citation-div {
    background-color: rgba(200, 200, 200, 0.3);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
}

p {
    font-style: italic;
}

.citation-reference {
    font-family: "Raleway";
    padding-left: 5rem;
    padding-top: 1rem;
    text-align: right;
}
