<div class="container">
  <div class="d-flex flex-row">
    <img src="../../assets/lamgard.png">
    <div class="p-2">
      <h3>{{project?.name}}</h3>
      <p>Визуальная новелла о слесаре дяде Васе</p>
      <p>Статус: закончено, но хуйня</p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Описание
      </a>
    </div>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    </div>
  </div>
  <div class="pb-4"></div>
</div>
