<div class="container">
  <div class="d-flex flex-row">
    <img src={{project?.logoUrl}}>
    <div class="p-2">
      <h3 class="pb-1">{{project?.name}}</h3>
      <p class="pb-1">{{project?.text}}</p>
      <p class="pb-2">Статус: {{project?.state}}</p>
      <div class="d-flex flex-row">
        <a class="preview-button" data-bs-toggle="collapse" [href]="'#collapse' + project?.codename" role="button" aria-expanded="false"
        [attr.aria-controls]="'collapse' + project?.codename" [ngStyle]="getPreviewState()">
          Описание
        </a>
        <a [ngStyle]="getDetailsState()" class="preview-button" role="button" (click)="navigateToDetails()" >
          Страница
        </a>
      </div>
    </div>
  </div>
  <div class="collapse" [id]="'collapse' + project?.codename">
    <div class="card card-body">
      <p class="lp">{{project?.description}}</p>
    </div>
  </div>
  <div class="pb-4"></div>
</div>
