.incline-line {
  width: 50%;
  margin: auto;
  border-color: white;
}

img {
  max-height: 130px;
  max-width: 140px;
  padding: 5px 10px 5px 10px;
}

.separator {
  background: white;
  height: 2px;
}
