<div class="container">
  <div class="row pb-2 pt-2">
    <div class="col-3">
      <div class="separator">
      </div>
    </div>
    <div class="col-md-auto width-fit-content">
      <h3>Название</h3>
    </div>
    <div class="col">
      <div class="separator">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <img src="../../assets/lamgard.png" class="img-fluid">
    </div>
    <div class="col-9">
      <div class="row">
      <p>Цель EKNM заключается в следующем: жизнь на Земле протекает не так, как было задумано Создателем – когда люди имеют души, у них может родиться новый мирный член Ундины. Зачем ангелам терять души?</p>
      </div>
      <div class="row">
        <h3>Кнопка</h3>
      </div>
    </div>
  </div>
</div>
