<div class="full-width">
    <div class="fade-in-image">
        <div class="gradient-down"><app-header></app-header></div>
        <div class="gradient-middle"><h1 class="fade-in">SCP: World Alert</h1></div>
        <div class="gradient-up"></div>
    </div>
    <div class="container-standard">
        <h3>Загальна концепція</h3>
        <p>SCP: WA є глобальною стратегією в реальному часі. Гравець управляє Фондом SCP від імені Засновника. Основною метою є постановка утримання різних аномалій, що зʼявляються у світі в ході гри. Гравцеві доведеться розвивати агентурну мережу щоб якнайшвидше виявляти нові аномалії, створювати мобільні оперативні групи, покращувати їх, для безпосередньої постановки на утримання, а також будувати та розвивати зони, в яких будуть утримуватися аномальні об'єкти. При цьому діяльність Фонду повинна залишатися в тіні, людство не повинно знати про існування чогось, що відрізняється від звичного для них світу. У грі присутні три види ресурсів:</p>
        <ul>
            <li>Досвід</li>
            <li>Знання</li>
            <li>Клас D</li>
        </ul>
        <p>Досвід гравець отримує шляхом успішного захоплення та стримування аномальних об'єктів. За рахунок досвіду можна наймати нових працівників Фонду, збільшувати кількість доступних для будівництва зон, збільшувати вплив Фонду у світі та інше. Приріст знань залежить кількості аномальних об'єктів, та дослідження їх властивостей. Від швидкості приросту знань залежить швидкість дослідження технологій. Дослідження можуть проводитися в різних областях: екіпірування МОГ, будівництво зон, способи утримання об'єктів тощо. Клас D необхідний підтримки приросту знань - людський ресурс, який витрачається вивчення аномальних об'єктів. Приріст класу D залежить від впливу Фонду у світі</p>
        <p>У грі є безліч кінцівок, серед яких хороша лише одна - Фонд зміг поширити свій вплив по всьому світу і поставити на утримання всі об'єкти. В інших випадках будь-який аномальний об'єкт не є під контролем Фонду, що призводить до одного зі сценаріїв кінця світу або скасування секретної діяльності Фонду.</p>
        <h3>Хід гри</h3>
        <p>Карта розділена на регіони, у кожному регіоні можливе будівництво зони. Спочатку гравець починає з однієї зони, випадково обраної з кількох початкових. Далі він досліджує регіон, отримує ресурси, створює нові зони. І так далі.Будівництво в регіонах можливе лише за достатнього впливу із сусідніх регіонів. Також можливий вибір початкової філії:</p>
        <img class="img-normal" [src]="'http://storage.eknm.in/s/OScnEbqnjdxRf0l/download'"/>
        <p>Обʼєкти зʼявляються під час проведення дослідження регіону чи випадково. Вони можуть бути статичними (непереміщуваними) або переміщуваними. Кожен обʼєкт має клас, що визначаються польовими агентами, МОГ або вченими. Обʼєкти дають одноразові, тимчасові чи перманетні бафи/дебафи ресурсів. Тимчасові та перманетні бафи/дебафи активуються вченими. Деякі обʼєкти мають власні мікроівенти (імовірнісні чи заплановані), наприклад порушення умов утримання чи перевезення, або взагалі зміна класу.</p>
        <h3>Основні елементи геймплею</h3>
        <p>Комітет О5 - голосують у важливих рішеннях, при смерті відбувається вибір серед учених, командирів МОГ, адміністрації.</p>
        <p>Вчені - наймаються за досвід, мають характеристики (характер), що призначається в зону, може досліджувати об'єкти в регіоні.</p>
        <p>МОГ - створюються в конструкторі МОГ, мають особливі характеристики, є обмежений вибір під час створення.</p>
        <p>Польові агенти - також мають обмежений вибір характеристик. Вирушають на невідомий об'єкт, підтримують секретність.</p>
        <p>Техногогії - поділяються на 3 гілки: Security (знаходження, захоплення об'єктів, покращення МОГ, тощо), Containment (стримування обʼєктів, камери, зони, тощо), Protection (все що стосується населення та таємності).<p>
        <h3>Процес розробки</h3>
        <p>Нами була пропрацьована концепція і механіки на рівні прототипа, за результатом декількох зустрічей розпочалась розробка. Були зроблені меню, вибір зони та прототип карти. Реалізовані механіки відриття нових територій, будівництва зон та появи обʼєктів. Нажаль після цього розробка була припинена. Головними причинами цього була недостатня кількість робочої сили для створення гри такого масштабу, поява ігр-конкурентів, і найголовніше [ДАНІ ВИДАЛЕНІ]</p>
        <img class="img-normal" [src]="'http://storage.eknm.in/s/psxmf6gJm6jVw8v/download'"/>
        <h3>Корисні посилання</h3>
        <a class="eknm-button-underlined" role="button" href="https://scp-wiki.wikidot.com/">
            SCP Foundation Wiki
        </a>
        <br>
        <a class="eknm-button-underlined" role="button" href="https://github.com/monsteroko/SCPF-WA/">
            Project Github
        </a>
        <br>
    </div>
</div>
<app-footer></app-footer>

