.incline-line {
  width: 50%;
  margin: auto;
  border-color: #e1e8eb;
}

img {
  max-height: 130px;
  max-width: 140px;
  padding: 5px 10px 5px 10px;
}

.separator {
  background: #e1e8eb;
  height: 2px;
}

.card {
  background: transparent;
  background-color: transparent;
  border: 0px;
}

.preview-button:hover {
  color: rgb(126, 43, 194);
}

.preview-button:active {
  color: black;
}
