img {
    max-height: 10rem;
    max-width: 10rem;
    margin-bottom: 1rem;
}

.container {
    padding: 0;
}

.left-container {
    max-width: 10rem;
    margin-right: 1rem;
}

.eknm-button-small {
    width: 100%;
}

.separator {
    background: #e1e8eb;
    height: 2px;
}

.circle {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.5rem;
}

.button-inactive {
    border: 2px solid gray;
    color: gray;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.button-inactive:hover {
    color: gray;
}

.button-inactive:active {
    color: gray;
}

.project-title {
    font-family: 'OpenSans-Bold';
    font-size: 1.5rem;
}