<div class="container mb-2 mt-2">
    <div class="d-flex flex-row">
        <div class="left-container">
            <img src="{{ project?.logoUrl }}" />
            <a
                class="eknm-button-small"
                role="button"
                *ngIf="isButtonActive"
                (click)="navigateToDetails()"
            >
                {{ "project_preview.page" | translate }}
            </a>
            <a
                class="eknm-button-small button-inactive"
                role="button"
                *ngIf="!isButtonActive"
            >
                {{ "project_preview.page" | translate }}
            </a>
        </div>
        <div>
            <p class="project-title">{{ project?.name }}</p>
            <div class="d-flex flex-row mb-1">
                <div class="circle" [ngStyle]="setColor()"></div>
                <p>{{ state }}</p>
            </div>
            <p>{{ description! }}</p>
        </div>
    </div>
    <div class="mb-4"></div>
</div>
