<div class="d-flex full-width flex-row justify-content-center fade-in">
    <div class="col-md-auto width-fit-content">
        <button
            class="footer-lang"
            (click)="useLanguage('ua')"
            [ngStyle]="{
                color: this.currentLanguage === 'ua' ? '#e1e8eb' : 'gray'
            }"
        >
            UA
        </button>
    </div>
    <div class="col-md-auto width-fit-content">
        <button
            class="footer-lang"
            (click)="useLanguage('en')"
            [ngStyle]="{
                color: this.currentLanguage === 'en' ? '#e1e8eb' : 'gray'
            }"
        >
            EN
        </button>
    </div>
</div>
<div class="d-flex full-width flex-row justify-content-center fade-in">
    <p class="p1 pt-4">© EKNM, underground since 201X</p>
</div>

