<div class="container-standard">
  <div class="row justify-content-md-center mb-3">
    <button type="button" class="header-button">WAREHOUSE</button>
  </div> 
  <section-title [titleText]="'shop_page.stickers' | translate"></section-title>
  <mat-grid-list cols="{{numberOfColumns}}" rowHeight="1:1" gutterSize="0.5rem">
    <div class="d-flex flex-column" *ngFor="let item of stickers">
      <mat-grid-tile>
        <shop-item [item]="item"></shop-item>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
  <section-title [titleText]="'shop_page.uniform' | translate"></section-title>
  <mat-grid-list cols="{{numberOfColumns}}" rowHeight="1:1" gutterSize="0.5rem">
    <div class="d-flex flex-column" *ngFor="let item of clothing">
      <mat-grid-tile>
        <shop-item [item]="item"></shop-item>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
  <div class="pb-5"></div>
</div>
