<div class="container-md">
  <div class="pt-3"></div>
  <section-title [titleText]="'Minecraft Server'"></section-title>
  <img src="../../assets/ic_minecraft.png" class="img-fluid pb-2 img-icon">
  <p><b>{{ 'games.server_name' | translate}}</b> EKNM Minecraft Server</p>
  <p><b>{{ 'games.server_ip' | translate}}</b> 109.86.198.149:27015</p>
  <p><b>{{ 'games.server_version' | translate}}</b> Forge Optifine 1.12.2</p>
  <p><b>{{ 'games.server_mode' | translate}}</b> Creative Mode</p>
  <p style="color:red;"><b style="color:white;">{{ 'games.server_status' | translate}}</b> {{ 'games.server_error' | translate}}</p>
  <div class="pt-3"></div>
  <div id="mc_carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/mc_screens/0.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/mc_screens/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/mc_screens/2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/mc_screens/3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/mc_screens/4.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#mc_carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#mc_carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <section-title [titleText]="'MTA Server'"></section-title>
  <img src="../../assets/ic_mta.png" class="img-fluid pb-2 img-icon">
  <p><b>{{ 'games.server_name' | translate}}</b> Default MTA Server</p>
  <p><b>{{ 'games.server_ip' | translate}}</b> 109.86.198.149:22003</p>
  <p><b>{{ 'games.server_version' | translate}}</b> 1.5</p>
  <p><b>{{ 'games.server_mode' | translate}}</b> Race</p>
  <p style="color:red;"><b style="color:white;">{{ 'games.server_status' | translate}}</b> {{ 'games.server_error' | translate}}</p>
  <div class="pt-3"></div>
  <div id="mta_carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/mta_screens/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/mta_screens/2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/mta_screens/3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/mta_screens/4.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#mta_carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#mta_carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="pt-5"></div>
</div>