b {
  font-weight: 600;
}

p {
  text-align: center;
}

.carousel{
  height: 230px;
  width: 420px;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 1 / 1;
}

.carousel .carousel-item {
  height: 230px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
}
