.full-page {
    height: 100vh;
    width: 100vw;
}

.bottom-page {
    height: 90vh;
    width: 100vw;
}

.page-header {
    background-image: url(../../../assets/backgrounds/bg_landing_top.jpg);
}

.page-footer {
    background-image: url(../../../assets/backgrounds/bg_landing_bottom.jpg);
}

.gradient-middle {
    height: 70vh;
    background-color: #100f0daf;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
}

.gradient-up {
    height: 10vh;
    background: linear-gradient(#100f0daf,#100f0dff);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
}

.gradient-down {
    height: 20vh;
    background: linear-gradient(#100f0dff,#100f0daf);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
}

.gradient-bottom {
    height: 70vh;
    background-color: #100f0daf;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
}

.gradient-up-bottom {
    height: 10vh;
    background: linear-gradient(#100f0daf,#100f0dff);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
}

.h0 {
    font-size: 3rem;
    text-align: center;
}

.h16 {
    font-size: 2rem;
    text-align: center;
}

.p0 {
    text-align: center;
    font-size: 1.4rem;
}

.p1 {
    text-align: center;
    font-size: 0.8rem;
}

.container-logo {
    margin: auto;
    padding: 0.5rem;
    max-width: 40rem;
}

.container-standard {
    max-width: 60rem;
}

.pad-page {
    height: 4rem;
}

.visit-box {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    min-width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}