@media only screen and (min-width: 700px) {
    .header-back {
        height: 4rem;
    }

    .home-image {
        height: 2rem;
    }

    .home-button {
        height: 2rem;
    }

    .cont-main {
        flex-direction: row;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
}

@media only screen and (max-width: 700px) {
    .header-back {
        height: 6rem;
    }

    .home-image {
        height: 4rem;
    }

    .home-button {
        height: 4rem;
    }

    .cont-main {
        flex-direction: column;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
    }
}

.header-back {
    height: 4rem;
}

.header-button {
    text-decoration: none;
    font-family: "Raleway-Mid";
    position: relative;
    font-size: 1rem;
    border: None;
    background-color: transparent;
    color: #c6cbce;
    height: 1.5rem;
    transition-duration: 0.2s;
    text-transform: uppercase;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: auto;
}

.header-button-active:hover {
    color: #a668d9;
}

.header-button-active:active {
    color: #5a189a;
}

.home-button {
    background: none;
    border: none;
}

.home-image {
    cursor: pointer;
    border: none;
    margin: 1rem;
    margin-left: 0rem;
}