body
{
  background-color: #000000;
  background-image: url(../../../assets/backgrounds/bg1.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:  cover;
}

h1
{
  overflow: hidden;
  font-family: 'Lemon';
  text-align: center;
  font-weight: regular;
  font-size: 60px;
  color: white;
  text-align: center;
}

img {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.eknm-button-long {
  text-decoration: none;
  font-family: 'Raleway';
  position: relative;
  font-size: 28px;
  border: None;
  background-color: transparent;
  color: white;
  height: 100px;
  transition-duration: 0.2s;
}

.eknm-button-long:hover {
  color: rgb(126, 43, 194);
}

.eknm-button-long:active {
  color: black;
}