<div class="container-md">
    <div class="row justify-content-md-center mb-3">
        <button type="button" class="header-button" (click)="navigateToProjects()">PROJECTS</button>
    </div>
    <h1 class="pt-3">{{ 'pupa.header' | translate}}</h1> 
    <article-content [paragraphs]="paragraphs"></article-content>
    <div class="paragraph-div">
        <p>{{ 'pupa.paragraph_1' | translate}}</p>
    <div>
    <div class="text-div paragraph-div">
        <img class="w-50 paragraph-img paragraph-img-right" src="../../../assets/projects/pupa/1.png">
        <ul [innerHTML]="'pupa.list_1' | translate">
        </ul>
    </div>
    <div class="paragraph-div">
        <p>{{ 'pupa.paragraph_2' | translate}}</p>
    <div>
    <div class="text-div paragraph-div">
        <img class="w-50 paragraph-img paragraph-img-right" src="../../../assets/projects/pupa/2a.png">
        <ul [innerHTML]="'pupa.list_2' | translate">
        </ul>
    </div>
    <div class="paragraph-div">
        <p>{{ 'pupa.paragraph_3' | translate}}</p>
    <div>
    <div class="paragraph-div">
        <ul [innerHTML]="'pupa.list_3' | translate">
        </ul>
    <div>
    <div class="paragraph-div">
        <img class="paragraph-img paragraph-img-full" src="../../../assets/projects/pupa/3.png">
    </div>
    <div class="separator"></div>
    <div class="row justify-content-md-center">
        <button type="button" class="paragraph-button-long" (click)="navigateToArticle()">{{ 'pupa.link_1' | translate}}</button>
    </div>
    <div class="separator"></div>
    <div class="row justify-content-md-center">
        <button type="button" class="paragraph-button-long" (click)="viewFile()">{{ 'pupa.link_2' | translate}}</button>
    </div>
    <div class="separator"></div>
    <div class="pb-5"></div>
</div>
  