h1
{
  overflow: hidden;
  font-family: 'Lemon';
  text-align: center;
  font-weight: regular;
  font-size: 60px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.paragraph-img-full {
  height: 20rem;
}

ul li::marker {
  color: white;
}