<div class="container-md">
    <h1>{{ 'pupa.header' | translate}}</h1> 
    <p>{{ 'pupa.paragraph_1' | translate}}
    </p>
    <ul [innerHTML]="'pupa.list_1' | translate">
    </ul>
    <img src="../../../assets/pupa/1.png" class="img-fluid pb-2">
    <p>{{ 'pupa.paragraph_2' | translate}}
    </p>
    <ul [innerHTML]="'pupa.list_2' | translate">
    </ul>
    <img src="../../../assets/pupa/2a.png" class="img-fluid pb-2">
    <p>{{ 'pupa.paragraph_3' | translate}}
    </p>
    <ul [innerHTML]="'pupa.list_3' | translate">
    </ul>
    <img src="../../../assets/pupa/3.png" class="img-fluid pb-5">
    <div class="separator"></div>
    <div class="row justify-content-md-center">
        <button type="button" class="eknm-button-long" (click)="navigateToArticle()">{{ 'pupa.link_1' | translate}}</button>
    </div>
    <div class="separator"></div>
    <div class="row justify-content-md-center">
        <button type="button" class="eknm-button-long" (click)="viewFile()">{{ 'pupa.link_2' | translate}}</button>
    </div>
    <div class="separator"></div>
    <div class="pb-5"></div>
</div>
  