<div class="container-md">
    <div class="pt-3"></div>
    <h1>Повесть об Ухе Панка</h1> 
    <p>Вселенная в тоннеле одновременно похожа и непохожа на множество других вселенных, включая нашу реальную. В ней как игровые, так и неигровые персонажи имеют свою собственную историю, характер, характеристики, внешний вид, знания и умения. Среди всех разнообразных форм жизни этого мира, лишь некоторые достойны называться разумными и именно этих рас может быть ваш персонаж:
    </p>
    <ul>
        <li><p>Люди</p></li>
        <li><p>Литоиды</p></li>
        <li><p>Дендроиды и Фунгоиды</p></li>
        <li><p>Зверолюди</p></li>
        <li><p>Спектралы</p></li>
        <li><p>Элементали</p></li>
        <li><p>Роевики</p></li>
    </ul>
    <img src="../../../assets/pupa/1.png" class="img-fluid pb-2">
    <p>Помимо расы вашему персонажу надо будет выбрать особенности, среди которых есть расовые, религиозные и недостатки; одну из более 50 предысторий; навыки; а также школы магии и/или стили боя. С такими обширными возможностями кастомизации вы сможете создать как умного и таинственного мага, так и смелого харизматичного воина, так и любой другой образ из вашего сознания, даже за рамками классических РПГ типажей. А возвращаясь к магии стилям боя, вам будут доступны такие опции:
    </p>
    <ul>
        <li><p>Школа магии: Органика</p></li>
        <li><p>Школа магии: Псионика</p></li>
        <li><p>Школа магии: Элементальная (4 ветки)</p></li>
        <li><p>Школа магии: Призыв</p></li>
        <li><p>Школа магии: Геометрия</p></li>
        <li><p>5 различных стилей боя</p></li>
    </ul>
    <img src="../../../assets/pupa/2a.png" class="img-fluid pb-2">
    <p>Поскольку мир ПУПы находится в технологическом развитии, схожем с нашей эпохой возрождения, помимо классического и экзотического холодного оружия, у вас будет возможность пользоваться арбалетами, мушкетами и другими механическими приспособлениями. Города заметно больше и сложнее, чем в средневековье, наука развивается, хоть и своим особым путем. Значительная часть этого невероятного мира уже доступна для игры:
    </p>
    <ul>
        <li><p>Более 60 вариантов оружия разных материалов и назначений</p></li>
        <li><p>Более 35 артефактов разной степени редкости и могущественности</p></li>
        <li><p>Продуманная система алхимии, ингрединетов и рецептов</p></li>
        <li><p>18 накладываемых эффектов, в том числе бурный оргазм</p></li>
        <li><p>СПИД, Проказа и ПТСР</p></li>
    </ul>
    <img src="../../../assets/pupa/3.png" class="img-fluid pb-2">
</div>
  