h3 {
    overflow: hidden;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 28px;
    color: white;
    text-align: justify;
    text-transform: none;
}

p {
    overflow: hidden;
    font-family: 'Comfortaa';
    font-weight: medium;
    font-size: 18px;
    color: white;
    text-align: justify;
    text-transform: none;
}

.bgimg {
    background-size: cover;
}