<div class="container mb-3">
    <h2 class="pb-1 pt-2">{{ binding?.title }}</h2>
    <p class="pb-1">{{ binding?.subtitle }}</p>
    <div class="d-flex flex-row pb-2">
        <p>{{ binding?.category }}</p>
        <p class="dot">•</p>
        <p>{{ binding?.author }}</p>
        <p class="dot">•</p>
        <p>{{ binding?.date }}</p>
    </div>
    <a class="eknm-button-small" role="button" (click)="navigateToArticle()">
        {{ "library.read" | translate }}
    </a>
    <div class="pb-3"></div>
</div>
