h3 {
    overflow: hidden;
    font-size: 1.5rem;
    text-align: justify;
    text-transform: none;
}

.eknm-button-small {
    width: 10rem;
}

.bgimg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
}
