<div class="container-md">
  <div class="row justify-content-md-center mb-3">
    <button type="button" class="header-button">PROJECTS</button>
  </div>
  <section-title [titleText]="'project_page.developments' | translate"></section-title>
  <div class="d-flex flex-column" *ngFor="let project of developments">
    <project-preview 
    [project]="project"></project-preview>
  </div>
  <section-title [titleText]="'project_page.projects' | translate"></section-title>
  <div class="d-flex flex-column" *ngFor="let project of otherProjects">
    <project-preview 
    [project]="project"></project-preview>
  </div>
</div>
