.width-preset {
  min-width: 400px;
  overflow: auto;
}
.bgBase{
  background-color: #000000;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:  cover;
}

.bgBeer{
  background-image: url(../assets/backgrounds/bg1.png);
}

.bgPupa{
  background-image: url(../assets/backgrounds/bg_pupa.png);
  background-size: cover;
}

.bgMain{
  background-image: url(../assets/backgrounds/bg4.png);
}