h1 {
    font-size: 2.0rem;
    text-align: center;
}

h2 {
    text-decoration: none;
    font-family: "Raleway";
    font-weight: normal;
    position: relative;
    font-size: 1.5rem;
    color: #ecf2f4;
    text-align: center;
    text-transform: none;
}
