<div class="container-md">
    <div class="row justify-content-md-center mb-3">
        <button type="button" class="header-button" (click)="navigateToLibrary()">LIBRARY</button>
    </div>
    <h2 class="mt-5">{{firstLine}}</h2>
    <h3 class="mt-1">{{secondLine}}</h3>
    <div class="separator mt-3 mb-3"></div>
    <div class="d-flex flex-column" *ngFor="let paragraph of paragraphs">
        <container-element [ngSwitch]="paragraph.type">
            <text-paragraph *ngSwitchCase="'text'" [paragraph]="paragraph"></text-paragraph>
            <combined-paragraph *ngSwitchCase="'combined0'" [paragraph]="paragraph" [order]="0"></combined-paragraph>
            <combined-paragraph *ngSwitchCase="'combined1'" [paragraph]="paragraph" [order]="1"></combined-paragraph>
            <image-paragraph *ngSwitchCase="'image'" [paragraph]="paragraph"></image-paragraph>
            <p *ngSwitchDefault>none</p>
          </container-element>
    </div>
    <div class="separator mt-3 mb-5"></div>
</div>