<div class="page-header full-page">
    <div class="gradient-middle">
        <div class="container-logo">
            <h2 class="h0">EKNM</h2>
            <p class="p0">{{mainText}}</p>
        </div>
    </div>
    <div class="gradient-up"></div>
</div>
<div class="pad-page"></div>
<div class="half-page-top container-standard">
    <div class="container-highlight">
        <h2 class="h25 mb-3">РОЗРОБКИ</h2>
        <p>Ми створюємо машини для вирішення стандартних завдань та займаємося розвагою. Такі справи, розумієш? Обертаємо цивілізацію, подобається тобі це чи ні. Ти це пам'ятай і давай більше не будемо про це. Ми дорослі люди і точно не маємо права забути про людські слабкості.</p>
    </div>
</div>
<div class="half-page-bottom container-standard">
    <div>
        <div class="image-highlight developments-background"></div>
        <a class="eknm-button-small" role="button" (click)="navigate('/workshop')">ВІДВІДАТИ МАЙСТЕРНЮ →</a>
    </div>
</div>
<div class="half-page-top container-standard">
    <div class="container-highlight">
        <h2 class="h25 mb-3">ЗАВОД</h2>
        <p>На заводських складах лежать дивні речі. Окрім спирту – кров. Про інші наркотики тільки чутки ходять, але про це точно все відомо. Причому не лише нашому заводу, а й міліції, до якої надійшла інформація. Навіть два орієнтовні списки показали, де цих речовин може бути більше. Але конкретних імен поки що немає.</p>
    </div>
</div>
<div class="half-page-bottom container-standard">
    <div>
        <div class="image-highlight factory-background"></div>
        <a class="eknm-button-small" role="button" (click)="navigate('/warehouse')">ВІДВІДАТИ СКЛАД →</a>
    </div>
</div>
<div class="half-page-top container-standard">
    <div class="container-highlight">
        <h2 class="h25 mb-3">ЖУРНАЛІСТИКА</h2>
        <p>У наших статтях проявляється цинізм та невігластво у більшості питань. І причина не в нестачі часу чи обмеженості, а в тому, що більшість авторів не читали серйозних книг. Ми вважаємо, що чесно проясняємо підняті в них проблеми.</p>
    </div>
</div>
<div class="half-page-bottom container-standard">
    <div>
        <div class="image-highlight library-background"></div>
        <a class="eknm-button-small" role="button" (click)="navigate('/library')">ВІДВІДАТИ БІБЛІОТЕКУ →</a>
    </div>
</div>
<div class="half-page-top container-standard">
    <div class="container-highlight">
        <h2 class="h25 mb-3">ПИВО</h2>
        <p>У нашій пивоварні відбувається процес, зворотній до того, що голова кращої мережі розливу пива в нашому регіоні, знає найкраще. Скасовуються заздалегідь призначені зустрічі, якісь, навпаки, призначаються, але пиво з підвального приміщення кудись зникає.</p>
    </div>
</div>
<div class="half-page-bottom container-standard">
    <div>
        <div class="image-highlight beer-background"></div>
        <a class="eknm-button-small" role="button" (click)="navigate('/brewery')">ВІДВІДАТИ ПИВОВАРНЮ →</a>
    </div>
</div>
<div class="pad-page"></div>
<div class="page-header page-footer">
    <div class="gradient-down"></div>
    <div class="gradient-bottom">
        <h2 class="h26 mb-5">ТАКОЖ ВІДВІДАЙТЕ</h2>
        <div class="d-flex flex-row justify-content-center">
            <div class="visit-box">
                <img src="../../assets/logo.png" class="img-fluid img-icon mb-4"/>
                <a class="eknm-button-underlined" role="button" (click)="navigate('/hub')">
                    EKNM HUB
                </a>
            </div>
            <div class="visit-box">
                <img src="../../assets/icons/ic_discord.png" class="img-fluid img-icon mb-4"/>
                <a class="eknm-button-underlined" role="button" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                    Discord Server
                </a>
            </div>
        </div>
    </div>
    <div class="gradient-up-bottom">
        <p class="p1 pt-4">© EKNM, underground since 201X</p>
    </div>
</div>
