img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.proj-logo-container {
    margin-right: 1rem;
    margin-top: 0.5rem;
    min-width: 20rem;
    width: 20rem;
    max-height: 13.5rem;
}

.container {
    padding: 0;
}

.eknm-button-small {
    width: 10rem;
    margin-top: 1rem;
}

.separator {
    background: #c6cbce;
    height: 2px;
}

.button-inactive {
    color: gray;
    pointer-events: none;
}

.right-container {
    flex-direction: column;
}

.status-label {
    margin-right: 0.5rem;
}