@import './animations.css';

@font-face {
    font-family: OpenSans;
    src: url("assets/fonts/OpenSans-Variable.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: OpenSans-Bold;
    src: url("assets/fonts/OpenSans-Bold.ttf") format("truetype");
    font-style: bold;
}

@font-face {
    font-family: Raleway;
    src: url("assets/fonts/Raleway.ttf") format("truetype");
}

@font-face {
    font-family: Raleway-Black;
    src: url("assets/fonts/Raleway.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: Raleway-Mid;
    src: url("assets/fonts/Raleway.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: Raleway-Thin;
    src: url("assets/fonts/Raleway.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: Lemon;
    src: url("assets/fonts/Lemon.ttf") format("truetype");
    font-style: normal;
}

.color-white-bright {
    color: #ecf2f4;
}

.color-white {
    color: #c6cbce;
}

.color-purple-bright {
    color: #a668d9;
}

.color-purple-middle {
    color: #5a189a;
}

.color-purple-dark {
    color: #240046;
}

p {
    text-decoration: none;
    font-family: "OpenSans";
    font-weight: normal;
    position: relative;
    margin: 0;
    font-size: 1rem;
    color: #c6cbce;
}

h1 {
    text-decoration: none;
    font-family: "Raleway-Black";
    position: relative;
    margin: 0;
    font-size: 4rem;
    color: #ecf2f4;
    text-align: center;
}

h2 {
    text-decoration: none;
    font-family: "Raleway";
    font-weight: bold;
    position: relative;
    margin: 0;
    font-size: 1.5rem;
    color: #ecf2f4;
    text-align: justify;
    text-transform: uppercase;
}

h3 {
    font-family: 'OpenSans-Bold';
    font-size: 1.5rem;
    color: #ecf2f4;
}

.separator {
    margin: 0;
    background: #ecf2f4;
    height: 2px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.img-icon {
    max-width: 7.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.width-fit-content {
    width: fit-content;
}

.container-standard {
    margin-right: auto;
    margin-left: auto;
    max-width: 60rem;
    padding: 0rem 2rem 0rem 2rem;
    width: 100%;
}

.eknm-button-small {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Raleway";
    font-size: 1.25rem;
    border-radius: 360px;
    color: #ecf2f4;
    background-color: none;
    border: solid #ecf2f4;
    border-width: 1px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.eknm-button-small:hover {
    color: #ecf2f4;
    background-color: #33312d;
}

.eknm-button-small:active {
    color: #ecf2f4;
    background-color: #262522;
}

.eknm-button-underlined {
    justify-content: center;
    align-items: center;
    font-family: "Raleway";
    font-size: 1.25rem;
    color: #c6cbce;
}

.eknm-button-underlined:hover {
    color: #c6cbce;
    text-decoration-color: #a668d9;
}

.eknm-button-underlined:active {
    color: #c6cbce;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

ul {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

ul li::marker {
    color: #c6cbce;
}

li {
    text-decoration: none;
    font-family: "Raleway";
    font-weight: normal;
    position: relative;
    margin: 0;
    font-size: 1rem;
    color: #c6cbce;
    text-align: justify;
}

.blackBG {
    background-color: #100f0d;
}

@media only screen and (min-width: 700px) {
    :root {
        font-size: 16px;
    }
}

@media only screen and (max-width: 700px) {
    :root {
        font-size: 14px;
    }
}

@media only screen and (max-width: 400px) {
    :root {
        font-size: 12px;
    }
}

.full-width {
    width: 100%;
    background-color: #100f0dff;
}

.gradient-down {
    height: 10rem;
    background: linear-gradient(#100f0dff, #100f0dbf);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
}

.gradient-middle {
    background-color: #100f0dbf;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
}

.gradient-up {
    height: 8rem;
    background: linear-gradient(#100f0dbf,#100f0dff);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
}

.page-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.article-img {
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    object-fit: contain;
}

.article-p {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    text-align: justify;
}

.article-h3 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.article-bq {
    background-color: rgba(200, 200, 200, 0.3);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
}