@font-face {
    font-family: Raleway;
    src: url("assets/fonts/Raleway.ttf") format("truetype");
    font-weight: regular;
}

@font-face {
    font-family: Raleway-Bold;
    src: url("assets/fonts/Raleway.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: RalewayDots;
    src: url("assets/fonts/RalewayDots.ttf") format("truetype");
}

@font-face {
    font-family: Lemon;
    src: url("assets/fonts/Lemon.ttf") format("truetype");
    font-style: regular;
}

.color-white {
    color: #e1e8eb;
}

.color-purple-bright {
    color: #9d4edd;
}

.color-purple-middle {
    color: #5a189a;
}

.color-purple-dark {
    color: #240046;
}

p {
    text-decoration: none;
    font-family: "Raleway";
    font-weight: normal;
    position: relative;
    margin: 0;
    font-size: 1.25rem;
    color: #e1e8eb;
}

h1 {
    overflow: hidden;
    font-family: "RalewayDots";
    text-align: center;
    font-weight: regular;
    font-size: 5rem;
    color: #e1e8eb;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    text-decoration: none;
    font-family: "Raleway";
    font-weight: bold;
    position: relative;
    margin: 0;
    font-size: 1.5rem;
    color: #e1e8eb;
    text-align: justify;
    text-transform: uppercase;
}

h3 {
    text-decoration: none;
    font-family: "Raleway-Bold";
    font-weight: bold;
    position: relative;
    margin: 0;
    font-size: 1.5rem;
    color: #e1e8eb;
    text-align: justify;
}

.separator {
    margin: 0;
    background: #e1e8eb;
    height: 2px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.img-icon {
    max-width: 7.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.standard-page {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    height: fit-content;
    min-height: 100vh;
}

.gradient {
    background: linear-gradient(
        180deg,
        rgba(5, 0, 17, 0.7959558823529411) 8%,
        rgba(0, 0, 0, 0.14609593837535018) 32%,
        rgba(255, 255, 255, 0) 100%
    );
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}

.width-fit-content {
    width: fit-content;
}

.container-standard {
    margin-right: auto;
    margin-left: auto;
    max-width: 50rem;
    padding: 0rem 2rem 0rem 2rem;
}

.eknm-button-small {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Raleway";
    font-size: 1.25rem;
    border: 2px solid #e1e8eb;
    border-radius: 360px;
    color: #e1e8eb;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.eknm-button-small:hover {
    color: #9d4edd;
}

.eknm-button-small:active {
    color: #5a189a;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
}

ul li::marker {
    color: #e1e8eb;
}

li {
    text-decoration: none;
    font-family: "Raleway";
    font-weight: normal;
    position: relative;
    margin: 0;
    font-size: 1.25rem;
    color: #e1e8eb;
    text-align: justify;
}

.blackBG {
    background-color: black;
}

.w-33 {
    width: 33%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-66 {
    width: 66%;
}

* {
    transition-duration: 0.2s;
}

@media only screen and (min-width: 864px) {
    :root {
        font-size: 16px;
    }
}

@media only screen and (max-width: 864px) {
    :root {
        font-size: 12px;
    }
}

.header-button {
    text-decoration: none;
    font-family: "RalewayDots";
    position: relative;
    font-size: 5rem;
    border: None;
    background-color: transparent;
    color: #e1e8eb;
    text-transform: uppercase;
    height: 6rem;
    transition-duration: 0.2s;
}

.header-button:hover {
    color: #9d4edd;
}

.header-button:active {
    color: #5a189a;
}
