<div class="container-sm">
  <p class="pb-4 pt-4">
    {{mainText}}
  </p>
  <div class="separator"></div>
  <div class="row justify-content-md-center">
    <button type="button" class="home-section" (click)="navigateToProjects()">{{ 'home.projects' | translate }}</button>
  </div>
  <div class="separator"></div>
  <div class="row justify-content-md-center">
    <button type="button" class="home-section" (click)="navigateToArticles()">{{ 'home.articles' | translate }}</button>
  </div>
  <div class="separator"></div>
  <div class="row justify-content-md-center">
    <button type="button" class="home-section" (click)="navigateToBeer()">{{ 'home.beer' | translate }}</button>
  </div>
  <div class="separator"></div>
  <div class="row justify-content-md-center">
    <button type="button" class="home-section" (click)="navigateToEntertainment()">{{ 'home.entertainment' | translate }}</button>
  </div>
  <div class="separator"></div>
  <div class="row justify-content-md-center">
    <button type="button" class="home-section" (click)="navigateToWarehouse()">{{ 'home.warehouse' | translate }}</button>
  </div>
  <div class="separator"></div>
  <div class="row justify-content-md-center">
    <button type="button" class="home-section" (click)="navigateToInfo()">{{ 'home.info' | translate }}</button>
  </div>
  <div class="separator"></div>

  <div class="row pb-3 pt-3">
    <div class="col">
      <div class="separator">
      </div>
    </div>
    <div class="col-md-auto width-fit-content">
      <button class="home-lang" (click)="useLanguage('ua')"
      [ngStyle]="{'color': this.currentLanguage==='ua' ? '#e1e8eb' : 'gray'}">UA</button>
    </div>
    <div class="col-md-auto width-fit-content">
      <button class="home-lang" (click)="useLanguage('ru')"
      [ngStyle]="{'color': this.currentLanguage==='ru' ? '#e1e8eb' : 'gray'}">RU</button>
    </div>
    <div class="col-md-auto width-fit-content">
      <button class="home-lang" (click)="useLanguage('en')"
      [ngStyle]="{'color': this.currentLanguage==='en' ? '#e1e8eb' : 'gray'}">EN</button>
    </div>
    <div class="col">
      <div class="separator">
      </div>
    </div>
  </div>
  <div class="pb-5"></div>
</div>


