<div class="container-md">
    <div class="pt-3"></div>
    <h1>EKNM BREWERY</h1> 
    <p>{{ 'brew.description' | translate }}</p>
    <img src="../../../assets/brewery/b1.jpg" class="img-fluid pb-2">
    <p>{{ 'brew.amount' | translate}}</p>
    <ul>
        <li><p>{{ 'brew.beer_1' | translate}}</p></li>
        <li><p>{{ 'brew.beer_2' | translate}}</p></li>
        <li><p>{{ 'brew.beer_3' | translate}}</p></li>
    </ul>
    <p>{{ 'brew.technology' | translate}}</p>
    <div class="separator mt-3 mb-3"></div>
    <p>{{ 'brew.order' | translate}}</p>
    <div class="pb-5"></div>
</div>
  
