.flex-row {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.label-not {
    color: red;
}

h1 {
    font-family: "Lemon";
    font-size: 5rem;
}

.page-header {
    background-image: url(../../assets/backgrounds/bg_brew.jpg);
}
