h1 {
    overflow: hidden;
    font-family: 'Lemon';
    text-align: center;
    font-weight: regular;
    font-size: 60px;
    text-align: center;
}
  
h2 {
    text-align: left;
}

.flex-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.label-not {
    color: red;
}

.header-button {
    font-family: 'Lemon';
}